.vs/
.idea/
.terraform/
[Bb]in/
[Oo]bj/
[Ll]og/
*.user
*.iml
.DS_Store
.vscode/
node_modules/
.xop/

.gatling-reports/
**/coverage-report/**
coverage.opencover.xml
coverage.json

**/TestResults/
**/RunApp/app/
**/.batect/caches/*

batect.local.yml

.teamcity/target/
